body{
	background: rgba(92,245,158,1);
	background: -moz-linear-gradient(45deg, rgba(92,245,158,1) 0%, rgba(92,245,158,1) 15%, rgba(42,136,244,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(92,245,158,1)), color-stop(15%, rgba(92,245,158,1)), color-stop(100%, rgba(42,136,244,1)));
	background: -webkit-linear-gradient(45deg, rgba(92,245,158,1) 0%, rgba(92,245,158,1) 15%, rgba(42,136,244,1) 100%);
	background: -o-linear-gradient(45deg, rgba(92,245,158,1) 0%, rgba(92,245,158,1) 15%, rgba(42,136,244,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(92,245,158,1) 0%, rgba(92,245,158,1) 15%, rgba(42,136,244,1) 100%);
	background: linear-gradient(45deg, rgba(92,245,158,1) 0%, rgba(92,245,158,1) 15%, rgba(42,136,244,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cf59e', endColorstr='#2a88f4', GradientType=1 );
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mdl-card {
	margin:10px 10px;
}
 
.mdl-card__title {
color: #fff;
min-height: 176px;
}

.mdl-card__menu {
color: #fff;
}

.col-centered {
    display:inline-block;
    float:none;
    margin:0 auto;
    padding:0;
    vertical-align: top;
    img{
    	text-align:center;
    }
}

