<!-- Footer -->
    <script language="javascript" type="text/javascript">
     $(window).load(function() {
     $('#loading').hide();
  });
</script>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                	<p></p>
                    <ul class="list-inline text-center">
                        <img src="https://lh3.googleusercontent.com/-yDbKtG6EoJI/AAAAAAAAAAI/AAAAAAAAACk/XhPLrTRYWI4/s120-c/photo.jpg">
                    <h5>Don't forget to check our twitter and facebook page</h5>
                        <li>
                            <a href="https://twitter.com/phisyks">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/phisyks">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        
                    </ul>
                    <h6 class="copyright text-muted">Copyright &copy; phisyks 2015</h6>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ site.url }}/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.url }}/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ site.url }}/js/clean-blog.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68647697-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>
