{% include header.html %}

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    
                    <ul class="breadcrumb">
    <li><a href="{{site.url}}">Home</a></li>
    <li><a href="{{site.url}}/{{page.categories}}.html">{{page.catname}}</a></li>
    
</ul>
                    <p></p>
                    <p></p>
                    {{ content }}
                    <p></p>
                    
                    <!-- Social Button HTML -->
<ul class="soc">
    <li><a class="soc-twitter" href="https://twitter.com/share?url={{site.url}}&text={{page.title}}&via=phisyks&hashtags=phisyks"></a></li>
    <li><a class="soc-google" href="https://plus.google.com/share?url={{page.url}}"></a></li>
    <li><a class="soc-facebook" href="http://www.facebook.com/sharer.php?u={{page.url}}"></a></li>
    <li><a class="soc-pinterest" href="https://pinterest.com/pin/create/bookmarklet/?media={{page.image}}&url={{page.url}}&is_video={is_video}&description={title}"></a></li>
    <li><a class="soc-reddit" href="http://reddit.com/submit?url={{page.url}}&title={{page.title}}"></a></li>
    <li><a class="soc-rss" href="http://phisyks.github.io/rss"></a></li>
    <li><a class="soc-stumbleupon" href="http://www.stumbleupon.com/submit?url={{page.url}}&title={{page.title}}"></a></li>
    <li><a class="soc-wordpress" href="https://phisyks.wordpress.com"></a></li>
    <li><a class="soc-delicious" href="https://delicious.com/save?v=5&provider=phisyks&noui&jump=close&url={{page.url}}&title={{page.title}}"></a></li>
    <li><a class="soc-linkedin soc-icon-last" href="http://www.linkedin.com/shareArticle?url={{page.url}}&title={{page.title}}"></a></li>
</ul>

                    <p></p>
                    <p></p>
                    <nav>

<ul class="pager">
    {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path }}">&larr; Prev Posts</a>
        </li>
            {% endif %}

            {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path }}">Older Posts &rarr;</a>
        </li>
            {% endif %}
 </ul>

</nav>
                    <p></p>
                    <p></p>
                    <hr style="background:#CC033C; border:0; height:7px" />
                    <p></p>
                    
                    <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'phisyks';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
{% include footer.html %}
