{% include header.html %}

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    
                    {{ content }}
                    <p></p>
                    <p>Like it then share it!</p>
                    <!-- Social Button HTML -->
<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fphisyks.github.io&t=phisyks" title="Share on Facebook" target="_blank"><img src="images/flat_web_icon_set/color/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fphisyks.github.io&text=phisyks:%20http%3A%2F%2Fphisyks.github.io&via=phisyks" target="_blank" title="Tweet"><img src="images/flat_web_icon_set/color/Twitter.png"></a></li>
  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fphisyks.github.io" target="_blank" title="Share on Google+"><img src="images/flat_web_icon_set/color/Google+.png"></a></li>
  <li><a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fphisyks.github.io&t=phisyks&s=" target="_blank" title="Post to Tumblr"><img src="images/flat_web_icon_set/color/Tumblr.png"></a></li>
  <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fphisyks.github.io&description=physics%20of%20everything" target="_blank" title="Pin it"><img src="images/flat_web_icon_set/color/Pinterest.png"></a></li>
  <li><a href="https://getpocket.com/save?url=http%3A%2F%2Fphisyks.github.io&title=phisyks" target="_blank" title="Add to Pocket"><img src="images/flat_web_icon_set/color/Pocket.png"></a></li>
  <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fphisyks.github.io&title=phisyks" target="_blank" title="Submit to Reddit"><img src="images/flat_web_icon_set/color/Reddit.png"></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fphisyks.github.io&title=phisyks&summary=physics%20of%20everything&source=http%3A%2F%2Fphisyks.github.io" target="_blank" title="Share on LinkedIn"><img src="images/flat_web_icon_set/color/LinkedIn.png"></a></li>
  <li><a href="http://wordpress.com/press-this.php?u=http%3A%2F%2Fphisyks.github.io&t=phisyks&s=physics%20of%20everything" target="_blank" title="Publish on WordPress"><img src="images/flat_web_icon_set/color/Wordpress.png"></a></li>
  <li><a href="https://pinboard.in/popup_login/?url=http%3A%2F%2Fphisyks.github.io&title=phisyks&description=physics%20of%20everything" target="_blank" title="Save to Pinboard"><img src="images/flat_web_icon_set/color/Pinboard.png"></a></li>
  <li><a href="mailto:?subject=phisyks&body=physics%20of%20everything:%20http%3A%2F%2Fphisyks.github.io" target="_blank" title="Email"><img src="images/flat_web_icon_set/color/Email.png"></a></li>
</ul>

                    <p></p>
                    <hr style="background:#CC033C; border:0; height:7px" />
                    <p></p>
                    <p></p>
                    <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'phisyks';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
{% include footer.html %}
