{% include header.html %}

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    
<!-- Breadcrumbs -->                    

        
        <div class="btn-group btn-breadcrumb">
            
            <a href="{{site.url}}" class="btn btn-danger"><i class="glyphicon glyphicon-home"></i></a>
            <a href="{{site.url}}/{{page.categories}}.html" class="btn btn-danger">{{page.catname}}</a>
                        
        </div>

                    <p></p>
                    <p></p>
                    {{ content }}
                    <p></p>
                    
                    <!-- Social Button HTML -->
<div class="don-share" data-style="icons" data-bubbles="right">
  <div class="don-share-total"></div>
  <div class="don-share-facebook"></div>
  <div class="don-share-twitter"></div>
  <div class="don-share-reddit"></div>
  <div class="don-share-pocket"></div>
  <div class="don-share-google"></div>
  <div class="don-share-pinterest"></div>
  <div class="don-share-tumblr"></div>
  <div class="don-share-buffer"></div>
  <div class="don-share-linkedin"></div>
</div>
<script type="text/javascript"> 
  (function() {
    var dr = document.createElement('script');
    dr.type = 'text/javascript'; dr.async = true;
    dr.src = '//share.donreach.com/buttons.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dr);
  })();
</script>

                    <p></p>
                    <p></p>
                    <nav>

<ul class="pager">
    {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path }}">&larr; Prev Posts</a>
        </li>
            {% endif %}

            {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path }}">Older Posts &rarr;</a>
        </li>
            {% endif %}
 </ul>

</nav>
                    <p></p>
                    <p></p>
                    <hr style="background:#CC033C; border:0; height:7px" />
                    <p></p>
                    
                    <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'phisyks';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
{% include footer.html %}
